.test{
    color:red;
    border:0;
    font-size:100%;
    margin:0;
    text-align: center;
    vertical-align: baseline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.test hover{
 color: blue;
}
.test{
    background-attachment: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://images5.alphacoders.com/456/456536.jpg');
    min-height:26rem;
    width: 100%;
    margin:0;
}
/* Styles Conference section */
.hd{
    width:100%;
    color:whitesmoke;
    text-transform: uppercase;
}
.headercontainer{
    margin:0;
    background-color:#293f50;
    padding-left:30px;
    padding-right:30px;
    display:block;
}
.tagline{
    text-align:right;
    margin: 66px 0 22px 0;
    color:whitesmoke;
}


.abc{
    padding-top:10px;
}
.abc li a{
    color:whitesmoke;
    text-decoration: none;
    display:inline;
}
.abc li{
    display:inline;
    margin-right: 0;
    padding: 0.8rem;
    list-style-type: none;
}
.row-alt{
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 44px 0 22px 0;
}
/* Register page section */
.row {
    background: #fff;
    padding: 66px 0 44px 0;
}
.why-attend{
list-style:square;
margin:0 0 22px 30px;
}
form{
    margin-bottom: 20px;
}
input,
select,
textarea{
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.register-group label{
    color:#648880;
    cursor:pointer;
    font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color:#888;
    display:block;
    margin:5px 0 27px 0;
    padding:5px 8px;
}
.register-group input,
.register-group textarea {
    width:100%;
}
.register-group select{
    height: 30px;
    width:60px;
}
.register-group textarea{
    height:70px;
}
/* Table section */
table{
    border-collapse:seperate;
    border-spacing:4px;
}
table,
th,td{
    border:1px solid #cecfd5;

}
th,td{
    font-weight:bold;
    padding: 10px 15px;
    position:relative;
}
thead {
    background: #395870;
    color:#fff;
    background: linear-gradient(#49708f, #293f50);
    font-size: 11px;
    text-transform: uppercase;
}

th:first-child {
    border-top-left-radius: 5px;
    text-align: left;
  }
  th:last-child {
    border-top-right-radius: 5px;
  }
  tbody tr:nth-child(even) {
    background: #f0f0f2;
  }
  td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
  }
  td:first-child {
    border-left: 1px solid #cecfd5;
  }

.book-title{
    display:block;
    color:#395870;
}

.text-offset{
    color:#7c7c80;
    font-size:12px;
}

.item-stock,
.item-qty{
text-align: center;
}

.item-price{
    text-align: right;
}

 /* tr:hover{
    background-color:red;
} */

/* tbody tr:nth-child(even){
    background: whitesmoke;
} */
.item-multiple{
    display:block;
}
tfoot tr:last-child td{
    border-bottom:0;
}

tfoot{
    text-align:right;
}
tfoot tr:last-child {
    background: #f0f0f2;
    color: #395870;
    font-weight: bold;
  }
  tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }
  tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }


.hotdog p.para{
    color:orange;
    font-size:16 px;
}
